body{
    background:black
}

section{
    max-width: 1200px;
    align-self: center;
}

.soc_heading{
    font-size: 2.5rem;
    text-align: center;
    color: hsla(0,0%,100%,.8);
}

.logo{
    font-weight: bolder;
    letter-spacing: 0.5em;
    margin-left: 20px;
}

.card-body{
    background-color: black;
    color: white;
}

.container1{
    display: flex;
}

.card{
    flex: 0 0 33%;
    margin: 5px;
}

.btn{
    flex: 0 0 30%;
}

.nav-item{
    list-style: none;
}


